<link href="/bbsp/public/css/print.css" rel="stylesheet" type="text/css" />
<table width="1700" border="0" align="center" cellpadding="0" cellspacing="0" >
	<tr>
		<td colspan="9" class="STYLE-H">
			$td.headPrintBean.topic 
		</td>
	</tr>
	<tr>
		<td width="180" class="STYLE-H1">发托批次号：</td>
		<td width="200" class="STYLE-H1-1">$!td.headPrintBean.applyNo</td>
		
		<td width="140" class="STYLE-H1">发托日期：</td>
		<td width="200" class="STYLE-H1-1">$!td.headPrintBean.date</td>
		<td colspan="2"></td>
	</tr>
	<tr>				
		<td width="180" class="STYLE-H1">票据品种：</td>
		<td width="200" class="STYLE-H1-1">$!td.headPrintBean.billTypeString</td>
		<td width="140" class="STYLE-H1">票据类型：</td>
		<td width="200" class="STYLE-H1-1">$!td.headPrintBean.billClassString</td>
		<td width="140" class="STYLE-H1">清算方式：</td>
		<td class="STYLE-H1-1">$!td.headPrintBean.qsTypeString</td>
	</tr>
	<tr>
		<td class="STYLE-H1">总张数：</td>
		<td class="STYLE-H1-1">$!td.headPrintBean.no</td>
		
		<td class="STYLE-H1">总金额：</td>
		<td class="STYLE-H1-1">$!td.headPrintBean.allBillMoneyString</td>
		<td colspan="2"></td>		
	</tr>
</table>
		<!--分页 第一页记录数 -->
		#set($firstPageSizeCost=25)
		<!-- 分页 2....n页 记录数 --> 		
		#set($pageSize=29) 
		#set($firstPageSize=$firstPageSizeCost) 		
		
		#set($totalSize=$td.itemList.size()) 
		#set($totalPages=0)		
		#if($totalSize>$firstPageSizeCost)
			#set($totalSize=$totalSize - $firstPageSize)
			#set($totalPages=$totalSize/$pageSize) 
			#set($myMod=$totalSize%$pageSize)
			#if($myMod>0)
				#set($totalPages=$totalPages+1)
			#end
		#else
			#set($firstPageSize=$totalSize)												
		#end	
		#set($totalPages=$totalPages+1)		
		
<table  width="1700" align="center" 
	style="border-collapse:collapse;table-layout:fixed;margin:0;padding:0; border:1px solid #666;height:23px;">
	<!-- 2 电票  票号长 特殊处理-->
	#if($td.headPrintBean.billClass.equals("2"))
		<thead>
			<td width="60" class="STYLE-LH">序号</td>
			<td width="260" class="STYLE-LH">票号</td>
			<td width="160" class="STYLE-LH">票面金额</td>
			<td width="120" class="STYLE-LH">票面到期日</td>
			<td width="120" class="STYLE-LH">计息到期日</td>
			<td width="310" class="STYLE-LH">客户名称</td>
			<td width="120" class="STYLE-LH">票据来源</td>
			<td width="310" class="STYLE-LH">承兑人</td>
			<td width="310" class="STYLE-LH">付款人开户行名称</td>
		</thead>
		<tbody>
				#set($i=0)
				#foreach( $tmp in [1..$firstPageSize] )
					<tr>
						<td align="center" class="STYLE-L-1">$!td.itemList.get($i).sequence </td>
						<td align="center" class="STYLE-L-1-BNO"> $!td.itemList.get($i).billNo</td>
						<td align="right" class="STYLE-L-1">$!td.itemList.get($i).billAmountString</td>
						<td align="center" class="STYLE-L-1">$!td.itemList.get($i).EndBillDate </td>
						<td align="center" class="STYLE-L-1">$!td.itemList.get($i).galeDate</td>
						<td align="left" class="STYLE-L-2" nowrap="nowrap">$!td.itemList.get($i).custName</td>
						<td class="STYLE-L-2" align="center" nowrap="nowrap">$!td.itemList.get($i).billSourceString</td>
						<td align="left" class="STYLE-L-2" nowrap="nowrap">$!td.itemList.get($i).acceptor</td>
						<td align="left" class="STYLE-L-2" nowrap="nowrap">$!td.itemList.get($i).outBillBankNo</td>
					</tr>
					#set($i=$i+1)
				#end
		</tbody>		
	#else
		<thead>
			<td width="60" class="STYLE-LH">序号</td>
			<td width="180" class="STYLE-LH">票号</td>
			<td width="160" class="STYLE-LH">票面金额</td>
			<td width="120" class="STYLE-LH">票面到期日</td>
			<td width="120" class="STYLE-LH">计息到期日</td>
			<td width="310" class="STYLE-LH">客户名称</td>
			<td width="120" class="STYLE-LH">票据来源</td>
			<td width="310" class="STYLE-LH">承兑人</td>
			<td width="310" class="STYLE-LH">付款人开户行名称</td>
		</thead>
		<tbody>
				#set($i=0)
				#foreach( $tmp in [1..$firstPageSize] )
					<tr>
						<td align="center" class="STYLE-L-1">$!td.itemList.get($i).sequence </td>
						<td align="center" class="STYLE-L-1"> $!td.itemList.get($i).billNo</td>
						<td align="right" class="STYLE-L-1">$!td.itemList.get($i).billAmountString</td>
						<td align="center" class="STYLE-L-1">$!td.itemList.get($i).EndBillDate </td>
						<td align="center" class="STYLE-L-1">$!td.itemList.get($i).galeDate</td>
						<td align="left" class="STYLE-L-2" nowrap="nowrap">$!td.itemList.get($i).custName</td>
						<td class="STYLE-L-2" align="center" nowrap="nowrap">$!td.itemList.get($i).billSourceString</td>
						<td align="left" class="STYLE-L-2" nowrap="nowrap">$!td.itemList.get($i).acceptor</td>
						<td align="left" class="STYLE-L-2" nowrap="nowrap">$!td.itemList.get($i).outBillBankNo</td>
					</tr>
					#set($i=$i+1)
				#end
		</tbody>		
	#end	
</table>

<table class="STYLE-QD-T-PAGE">
			<tr align="center">
				<td height="130" align="center" width="1700" class="STYLE-PAGE">第 1 页 共 $totalPages 页</td>
			</tr>
</table>

		#if($totalPages>1)
			#set($nextPageSize=$firstPageSizeCost)
			#set($i=2)			
			#foreach( $j in [2..$totalPages] )
					#if($pageSize>$totalSize)
						#set($pageSize=$totalSize)
					#end
<table  width="1700" align="center" 
	style="border-collapse:collapse;table-layout:fixed;margin:0;padding:0; border:1px solid #666;height:23px;">
					#if($td.headPrintBean.billClass.equals("2"))
													<thead>
														<td width="60" class="STYLE-LH">序号</td>
														<td width="260" class="STYLE-LH">票号</td>
														<td width="160" class="STYLE-LH">票面金额</td>
														<td width="120" class="STYLE-LH">票面到期日</td>
														<td width="120" class="STYLE-LH">计息到期日</td>
														<td width="310" class="STYLE-LH">客户名称</td>
														<td width="120" class="STYLE-LH">票据来源</td>
														<td width="310" class="STYLE-LH">承兑人</td>
														<td width="310" class="STYLE-LH">付款人开户行名称</td>
													</thead>
													#foreach( $tmp2 in [1..$pageSize] )
															<tr>
																<td align="center" class="STYLE-L-1">$!td.itemList.get($nextPageSize).sequence </td>
																<td align="center" class="STYLE-L-1-BNO"> $!td.itemList.get($nextPageSize).billNo</td>
																<td align="right" class="STYLE-L-1">$!td.itemList.get($nextPageSize).billAmountString</td>
																<td align="center" class="STYLE-L-1">$!td.itemList.get($nextPageSize).EndBillDate </td>
																<td align="center" class="STYLE-L-1">$!td.itemList.get($nextPageSize).galeDate</td>
																<td align="left" class="STYLE-L-2" nowrap="nowrap">$!td.itemList.get($nextPageSize).custName</td>
																<td class="STYLE-L-2" align="center" nowrap="nowrap">$!td.itemList.get($nextPageSize).billSourceString</td>
																<td align="left" class="STYLE-L-2" nowrap="nowrap">$!td.itemList.get($nextPageSize).acceptor</td>
																<td align="left" class="STYLE-L-2" nowrap="nowrap">$!td.itemList.get($nextPageSize).outBillBankNo</td>
															</tr>
															#set($nextPageSize=$nextPageSize+1)
												  #end
					#else
															<thead>
																<td width="60" class="STYLE-LH">序号</td>
																<td width="180" class="STYLE-LH">票号</td>
																<td width="160" class="STYLE-LH">票面金额</td>
																<td width="120" class="STYLE-LH">票面到期日</td>
																<td width="120" class="STYLE-LH">计息到期日</td>
																<td width="310" class="STYLE-LH">客户名称</td>
																<td width="120" class="STYLE-LH">票据来源</td>
																<td width="310" class="STYLE-LH">承兑人</td>
																<td width="310" class="STYLE-LH">付款人开户行名称</td>
															</thead>
													#foreach( $tmp2 in [1..$pageSize] )
															<tr>
																<td align="center" class="STYLE-L-1">$!td.itemList.get($nextPageSize).sequence </td>
																<td align="center" class="STYLE-L-1"> $!td.itemList.get($nextPageSize).billNo</td>
																<td align="right" class="STYLE-L-1">$!td.itemList.get($nextPageSize).billAmountString</td>
																<td align="center" class="STYLE-L-1">$!td.itemList.get($nextPageSize).EndBillDate </td>
																<td align="center" class="STYLE-L-1">$!td.itemList.get($nextPageSize).galeDate</td>
																<td align="left" class="STYLE-L-2" nowrap="nowrap">$!td.itemList.get($nextPageSize).custName</td>
																<td class="STYLE-L-2" align="center" nowrap="nowrap">$!td.itemList.get($nextPageSize).billSourceString</td>
																<td align="left" class="STYLE-L-2" nowrap="nowrap">$!td.itemList.get($nextPageSize).acceptor</td>
																<td align="left" class="STYLE-L-2" nowrap="nowrap">$!td.itemList.get($nextPageSize).outBillBankNo</td>
															</tr>
															#set($nextPageSize=$nextPageSize+1)
												  #end								
					#end	
					</table>									
					<table class="STYLE-QD-T-PAGE">
								<tr align="center">
									<td height="130" align="center" width="1700" class="STYLE-PAGE">第 $i 页 共 $totalPages 页</td>
								</tr>
					</table>
					#set($i=$i+1)
					#set($totalSize=$totalSize - $pageSize)
			#end
	#end 	

